<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href ="/pizza_orders">Pizza orders</a>
      </li>
      <li>
        <a href ="/pizza_orders/new">Place new order</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
