input[value="Delete order"] {
  border: 3px solid red;
}

div:first-of-type {
  color: dimgray;
}



div:nth-of-type(even) {
  background-color: AntiqueWhite;
}

div:nth-of-type(odd) {
  background-color: mistyrose;
}

body {
  background-color: floralwhite;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style-type: none;
  margin: 2px auto;
  line-height: 1.4;
  padding-left: 0;
}

span {
  font-weight: 900;
}
